<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="navigation" class="navbar navbar-expand-md navbar-dark bg-dark text-light">
    <div class="container">

        <a href="#" th:href="@{/bookstore/home}" class="navbar-brand"><h3>BookShelf</h3></a>
        <button class="navbar-toggler" type="button" data-target="#MyNav" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="MyNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" th:href="@{/bookstore/home}" class="nav-link">Books</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact Us</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">FAQ</a>
                    </li>
                </ul>
        </div>


    </div>
</nav>
</body>
</html>